/* Variable Start */
:root {
  --pertama: #2c3639;
  --kedua: #3f4e4f;
  --ketiga: #a27b5c;
  --keempat: #dcd7c9;
  --putih: #f5f5f5;
  --hitam: #111111;
}
/* Variable End */

/* General Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 80%;
}

p {
  line-height: 1.9rem;
  text-align: justify;
}

section {
  padding: 5rem 0 3rem;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--keempat);
  text-align: justify;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

footer {
  font-family: "Poppins", sans-serif;
  background-color: var(--ketiga);
  color: var(--putih);
  padding-top: 1rem;
}
/* General End */

/* Nav Start */
nav {
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999999;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--hitam);
  background-color: var(--pertama);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-item {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.nav-item li a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  color: var(--putih);
}

.nav-item li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--putih);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-item li:hover::after {
  width: 100%;
}

.nav-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--putih);
}

nav img {
  width: 2.5rem;
  display: flex;
  align-items: center;
}
/* Nav End */

#profile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../asset/bg-home.jpg);
  background-position: center;
  background-size: cover;
  /* height: 100%; */
}

.container1 {
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  /* untuk mejaga agar tetap ada space dipinggir */
  box-sizing: border-box;
}

.row {
  display: flex;
  /* height: 88%; */
  align-items: center;
}

.col {
  flex-basis: 50%;
}

h2 {
  color: #fff;
  font-size: 50px;
}
p {
  color: #fff;
  font-size: 15px;
}

/* .card {
  width: 750px;
  height: 399px;
  aspect-ratio: 16/9;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(asset/banner-about.png);
  background-position: bottom right;
  background-size: 750px 399px;
  background-repeat: no-repeat;
} */

/* Main Section */
/* #landing {
  display: flex;
  align-items: center;
} */

#landing p {
  text-align: center;
  width: 70%;
  /* padding: 1rem; */
  margin: auto;
  color: var(--hitam);
}

#about {
  height: 100%;
  background-color: var(--ketiga);
  /* border: 1px solid black; */
}

#about h1 {
  color: var(--putih);
}

.about-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.about-content p {
  width: 50%;
  margin-left: 3rem;
  color: var(--putih);
  text-align: center;
}

.foto-logo {
  width: 15rem;
}

h5 {
  text-align: center;
  font-size: 2rem;
}

#landing .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title title title"
    "history vision mission";
  row-gap: 2rem;
}

.title {
  grid-area: title;
}

.history {
  grid-area: history;
}

.vision {
  grid-template-areas: vision;
}

.mission {
  grid-template-areas: mission;
}

#landing h5 {
  border-bottom: 1px solid var(--ketiga);
  width: 80%;
  margin: 0 auto 1rem;
}

#profile .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile h1 {
  color: var(--putih);
  text-align: left;
}

.img-container img {
  width: 40rem;
  margin-left: 2rem;
}

/* Footer Start */
footer .container {
  border-bottom: 1px solid var(--putih);
}

footer h5 {
  text-align: center;
  padding: 1rem;
}

footer h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.social-footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.social-footer img {
  display: block;
  margin: auto;
  width: 2rem;
}

footer p {
  font-size: 0.8rem;
}
/* Footer End */
